{
  "presets": [
    ["@babel/env", {
      "loose": true,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7", "ie 9"],
        "node": "6"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "./scripts/lib/arrow-function-coverage-fix",
        "istanbul"
      ],
      "ignore": [
        "**/node_modules/**",
        "**/*.min.js",
        "**/tests/browser/**",
        "scripts/**"    // Add this line
      ]
    }
  },
  "ignore": [
    "scripts/lib/arrow-function-coverage-fix.js"
  ]
}
